@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap");
@import "media.scss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

// === Common ===
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  list-style: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Source Serif Pro", serif;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.burger {
  float: right;
  display: none;
  width: 60px;
  height: 40px;
  cursor: pointer;

  &-tick {
    width: 30px;
    height: 3px;
    background-color: #ffc200;
    margin: 10px;
    transition: 0.5s;

    &:first-child {
      margin-top: 0;
    }
  }
}

.burger.open {
  div:nth-child(1) {
    transform: rotateZ(45deg);
    transform-origin: left;
  }

  div:nth-child(3) {
    transform: rotateZ(-45deg);
    transform-origin: left;
  }

  div:nth-child(2) {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
  }
}

// === / Common ===

// === Mixin ===

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
// === / Mixin ===

// === Variables ===
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;

$cl-red: #a31f1f;
$cl-white: #f5f5f5;
$cl-yellow: #ffc200;
$cl-dark: #141414;

// === / Variables ===

// === Popup ===
.modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  @include center();
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal-content {
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  width: 50vw;
  position: relative;
  li {
    font-size: 20px;
    font-weight: $fw-regular;
    padding: 10px;
    &:before {
      content: "";
      display: flex;
      margin-bottom: 5px;
      margin-right: 10px;
      display: inline-block;
      width: 10px;
      height: 1px;
      background-color: #000;
    }
  }
}
// === / Popup ===

// === Navigation ===

.navigation {
  padding-top: 28px;
  width: 100%;
  height: 90px;
  z-index: 100;

  &-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--list {
      &__item {
        display: inline-block;
        margin-left: 35px;

        &:last-child {
          border: 1px solid $cl-yellow;
          border-radius: 50%;
          padding: 15px 10px;
        }
      }
    }
  }
}

.nav-link {
  text-decoration: none;
  font-weight: $fw-regular;
  font-size: 15px;
  color: $cl-dark;
}

// === / Navigation ===

// === footer ===

.footer {
  width: 100%;
  height: 90px;
  background-color: $cl-red;
  color: #fff;
  position: fixed;
  bottom: 0;
  z-index: 1000;
}

.footer-box {
  margin-top: 10px !important;
  font-size: 15px;
  line-height: 2;

  display: flex;
  justify-content: space-between;
  &--row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    &__info,
    &__contact {
      text-align: center;
    }
  }

  &--media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    text-align: center;
    &__images {
      img {
        margin-right: 10px;
        cursor: pointer;
      }
    }
    &__logo {
      p {
        line-height: 1;
        font-size: 14px;
      }
    }
  }
}

// === / footer ===

// === Landing ===

.landing {
  padding-top: 90px;
  height: calc(100vh - 90px);
  background-image: url("../images/bg-first.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  font-weight: $fw-semibold;
  color: #fff;
  font-size: 20px;

  &-area {
    max-width: 665px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }

  h2 {
    color: $cl-yellow;
    font-size: 30px;

    margin-bottom: 50px;
  }

  p {
    max-width: 520px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  li {
    line-height: 1.5;
  }
}

// === / Landing ===

// === Menu ===

.menu {
  background-color: $cl-white;
  height: calc(100vh - 90px);
  padding-top: 90px;

  &-box {
    position: relative;
    &--element {
      @include center();
      flex-direction: column;
      position: relative;
      flex-basis: 0%;
      height: 414px;
      width: 100%;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 10px;
      }

      h2 {
        color: $cl-yellow;
        font-weight: $fw-bold;
        font-size: 25px;
        text-transform: uppercase;
        z-index: 100;
      }

      p {
        color: $cl-white;
        font-size: 20px;
        font-weight: $fw-regular;
        z-index: 100;
      }
    }
  }
}
// === / Menu ===

// === Stock ===
.stock {
  padding-top: 75px;
  height: calc(100vh - 90px);
  background-color: $cl-white;
}

.stock-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &--text {
    max-width: 45%;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;

    h2 {
      color: $cl-red;
      font-weight: $fw-bold;
      font-size: 26px;
    }

    p {
      color: $cl-dark;
      font-size: 16px;
      max-width: 360px;
      margin: 0 auto;
      margin-top: 20px;
      font-weight: $fw-regular;
      line-height: 1.7;
    }

    button {
      font-weight: $fw-bold;
      font-size: 20px;
      color: $cl-dark;
      background-color: transparent;
      padding: 20px;
      border-radius: 50%;
      border: 1px solid $cl-yellow;
      margin-top: 90px;
      cursor: pointer;
    }
  }

  &--image {
    position: relative;
    .box-border {
      position: absolute;
      top: 5%;
      left: -5%;
      height: 423px;
      width: 410px;
      background-color: transparent;
      border: 1px solid $cl-yellow;
    }
  }
}

.extrainfo {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
  @include center();
  opacity: 0;
  pointer-events: none;
  overflow: auto;

  &-content {
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
    width: 70vw;
    li {
      font-size: 18px;
      font-weight: $fw-regular;
      margin-top: 15px;
      position: relative;

      &:before {
        content: "-";
        margin-right: 5px;
      }
    }
  }
}

.extrainfo.open {
  opacity: 1;
  pointer-events: all;
}

// === / Stock ===
