@media (max-width: 1200px) {
  label.navigation-box--logo {
    margin-left: 30px;
  }

  ul.navigation-box--list {
    margin-right: 30px;
  }

  div.footer-box {
    margin: 0 30px;
  }
}

div.stock-box {
  margin: 0 20px;
}

@media (max-width: 901px) {
  div.stock {
    height: calc(100vh - 90px);
    line-height: 1;
  }
  div.stock-box {
    padding-top: 90px;
    width: 100%;
    margin: 0 auto;

    &--image {
      display: none;
    }

    &--text {
      max-width: 100%;
      margin: 0 auto;
      h2 {
        font-size: 20px;
      }

      p {
        font-size: 15px;
      }
      button {
        margin-top: 20px;
        font-size: 15px;
      }
    }
  }

  div.extrainfo-content {
    overflow: auto;
    margin-bottom: 10px;
    h1 {
      font-size: 20px;
    }

    li {
      font-size: 14px;
    }
  }

  div.landing-area--text {
    padding-top: 90px;
  }

  div.menu {
    padding: 90px 20px;
    z-index: 1;
  }

  nav.navigation {
    position: fixed;
    top: 0;
    background-color: #fff;
    overflow: auto;
  }
  div.burger {
    display: block;
    margin-right: 20px;
  }
  label.navigation-box--logo {
    display: block;
  }
  ul.navigation-box--list {
    position: fixed;
    width: 100%;
    top: 90px;
    left: -100%;
    transition: all 0.8s;
    text-align: center;
    background-color: #fff;
    height: calc(100vh - 90px);
    overflow: auto;
  }

  ul.show {
    left: 0;
  }

  li.navigation-box--list__item {
    display: block;
    margin: 40px 20px;
    line-height: 30px;
  }

  a.nav-link {
    font-size: 28px;
    font-weight: 600;
  }

  footer.footer {
    height: 150px;
    line-height: 0.5;
  }

  div.footer-box--row {
    display: flex;
    flex-direction: column;
  }

  div.footer-box--media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 20%;
  }

  div.footer-box--media__logo {
    p {
      display: none;
    }
  }
}

@media (max-width: 639px) {
  div.landing-area--text {
    margin: 0 30px;
    h2 {
      font-size: 25px;
    }

    p,
    li {
      font-size: 16px;
    }
  }

  a.nav-link {
    font-size: 22px;
    font-weight: 600;
  }
}

@media (max-width: 400px) {
  li.navigation-box--list__item {
    display: block;
    margin: 20px 20px;
    line-height: 30px;
  }

  a.nav-link {
    font-size: 20px;
  }
}

@media (max-width: 300px) {
  div.landing-area--text {
    margin: 0 30px;
    h2 {
      font-size: 20px;
    }

    p,
    li {
      font-size: 14px;
    }
  }
}

@media (max-width: 475px) {
  div.footer-box--row {
    font-size: 13px;
    line-height: 2;
  }
}

@media (max-height: 600px) {
  div.footer-box--row {
    font-size: 13px;
    line-height: 1.5;
  }
}

@media (max-width: 350px) {
  div.footer-box--row {
    font-size: 13px;
    line-height: 1.5;
  }
}
